.color {
  border: solid black 1px;
  height: 60px;
  width: 60px;
  display: inline-block;
}

.pixel {
  border: solid black 1px;
  height: 40px;
  width: 40px;
  display: inline-block;
}

#pixel-board {
  border: solid red 1px;
}