* {
  font-family: Courier New, sans-serif;
  margin: 0;
  padding: 0;
}

body {
  margin: 0 auto;
  width: 90%;
}

header {
  margin-top: 40px;
  text-align: center;
}

#title {
  font-size: 2.5em;
}

#tip {
  font-style: italic;
}

main {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#color-palette {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  margin: 30px 0;
  width: 400px;
}

#color-palette section {
  cursor: pointer;
}

.color {
  border: solid black 1px;
  height: 60px;
  width: 60px;
}

.selected {
  border: solid black 5px;
}

#board-control {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 30px;
}

#board-size {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

#board-size-input {
  cursor: pointer;
  height: 30px;
  text-align: center;
  width: 70px;
}

#generate-board {
  cursor: pointer;
  height: 35px;
  margin-left: 10px;
  width: 50px;
}

#useful-buttons {
  align-items: center;
  display: flex;
  justify-content: center;
}

#another-palette {
  cursor: pointer;
  height: 35px;
  margin-right: 10px;
  text-align: center;
  width: 270px;
}

#clear-board {
  cursor: pointer;
  height: 35px;
  text-align: center;
  width: 80px;
}

button:hover {
  background-color: grey;
  color: white;
  font-weight: 800;
}

#pixel-board {
  line-height: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pixel {
  border: solid black 1px;
  cursor: pointer;
  height: 40px;
  width: 40px;
  display: inline-block;
}
